body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 47px;
}

text {
  font-size: 21px;
  color: grey;
}

link {
  color: aquamarine;
  font-size: 16px;
}

#video {
  color: yellow;
  background-color: yellow;
  background-image: url("phone-frame.jpg");
}

footer
